.login-form--btn{
    height: 5rem;
    width: 13rem;
    margin-left: 29rem;
    margin-top: 8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    background-color: rgba(50, 50, 50);
    color: rgb(134, 122, 216);
    border-radius: 15px;
    border: 1px solid rgb(26, 26, 26);
    transition: background-color rgb(41, 41, 41) 5s;
    cursor: pointer;
}

.login-form--btn:hover {
    text-shadow: 0 1px 8px slategrey;
    box-shadow: 0 1px 8px slategrey;
    color: rgb(160, 152, 206);
    background-color: rgb(29, 29, 29);
}

.form{
    height: 3rem;
    width: 26rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 2rem;
    background-color: rgb(26, 26, 26);
    color: rgb(134, 122, 216);
    box-shadow: 0 1px 8px black;
}

.login-form--text{
    font-size: 4rem;
    text-align: center;
    position: relative;
    top: 6rem;
    margin-right: 5rem;
    margin-left: 30rem;
    text-shadow: 0 3px 8px slategray;
    color: rgb(212, 167, 255);
}

.form::placeholder{
    color: rgba(199, 190, 255, 0.699)
}